*, *::before, *::after{
    box-sizing: border-box;
}



@font-face {
    font-family: 'Quantify Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Quantify Regular'), url('Quantify.woff') format('woff');
}


@font-face {
    font-family: 'Quantify Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Quantify Bold'), url('Quantify Bold.woff') format('woff');
}


li{
    list-style: none;

}
a{
    text-decoration: none;
    color: white;
}
a:hover{
color: rgb(251 190 68);
}




/* LE header***********************/
/*.hashTag{*/
/*    font-size:1.6em;*/
/*    color: white;*/
/*    padding-top: 9px;*/
/*    width: 400px;*/
/*}pour la navabar si besoin    */

.block-nav{
    background: url( "../images/2.jpg");
    height: 800px;
    background-attachment: fixed;
    background-repeat: no-reapet !important;
    background-position: top !important;
    background-size: cover !important;
    text-align: center;
    padding-top:400px;

}


.logo{
    width:300px;
    height:300px;
    position: absolute;


    top: 10px; left: 20px;

}
nav{
    background-color: rgb(92, 74, 153); /* changement de la couleur en violet*/
    font-family: Quantify Regular, Montserrat,Arial;


}

.nav-link:hover{

    cursor: pointer ;
    transition: border, 0.5s;
    box-shadow:inset -3px -1px 24px 3px rgba(255,255,255,0.3);
}

#navbarNav {

    font-size: 1.6em;
    color: white;
}



h1{
    color:white; /*changement de la police en quantify mettre le l est le P enmajuscule*****/
    font-size: 6em;
    text-shadow: black 9px 0 50px;
    font-family: Quantify Regular, Montserrat,Arial;
}




.nav-link {
    margin-right: 21px;
    color:white!important;
}

@media screen and (max-width: 1330px){
    h1{
        font-size: 4rem;
    }


}
@media screen and (max-width: 790px){
    .block-nav{
        padding-top:350px;
    }
}

@media screen and (max-width: 700px){
    h1{
        font-size: 3.3rem;
    }
}



/***corps page*********/

h2{
    font-family: Quantify Regular, Montserrat,Arial;
}

section{
    display: flex;
    flex-direction: column;
}




.photoCandidat{
    width:460px;
    height: 460px;
    border-radius: 10px;

}

.biographie{
text-align: justify;
}


.article1{
     display: flex;
     justify-content: center;
     margin-top: 20px;
    margin-bottom: 20px;
    vertical-align: center;

 }

.article2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-top: 20px;
    vertical-align: center;

}

.descrition{
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    align-items: center;
}
.nomSebastien{
    align-self: flex-start;
}

.about{
    height: 600px;
    width: 100%;
    background-color: rgb(92, 74, 153);
}

.pastille{
    height: 90px;
    float: left;
}
.pastille-mobile{
    display: none;
}



.election{
font-size: 5em;
    color: white;
    text-align: center;
}

aside{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
}

.p-aside1{
    font-size: 2.5em;
    text-align: justify;
    color: white ;
}
.p-aside2{
    font-size: 1.5em;
    color: white;
    margin-left: 80px;
}
@media screen and (max-width: 700px){
    aside{
        display: flex;
        flex-direction: column;
    }
.article1{
    align-items: center;
}
    .about{
    height: 100%;
    }

    .article1{
    flex-direction: column;

    }

    .descrition{
    width: 85%;
    }


}

@media screen and (max-width: 700px){
    .photoCandidat{
        width:300px;
        height: 300px;;
    }

    .election{
        font-size: 3.5em;
    }
    .p-aside1{
        font-size: 1.9em;
        text-align: justify;
        color: white ;
    }
    .p-aside2{
        font-size: 1.5em;
        color: white;
        margin-left: 0px;
    }
    .p-aside{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .pastille{
        display: none;
    }
    .pastille-mobile{
        display: block;
        height: 90px;
        width: 90px;
    }

}




/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 1280px */
@media screen and (max-width: 700px){

    .article1{
        flex-direction: column;
        align-items: center;

    }
    .article2{
        flex-direction: column;
        align-items: center;
    }
}

/*formulaire************************************/

.btn-light{
    background-color: rgb(16 170 227);
}



.button{
    margin-left: 12px;
}


@media screen and (max-width: 700px){
    #contact{
        padding-left: 10px;
        padding-right: 10px;
}

}






/*le footer*********************************************/


.facebookLogo{
    height: 70px;
}

.facebookLogo:hover{
    color: rgb(251 190 68);
}

.footer {
    background-color: rgb(92, 74, 153);
    color: white;
}


ul {list-style-type: none;}





i{font-size: 18px;}

.copyright p{
    border-top:1px solid rgba(255,255,255,.1);
}
@media screen and (max-width: 700px){
    footer{
        display: flex;
        flex-direction: column;
    }
}

/* les Projets************************/

.projet{
    padding-top:120px;
    display: flex;
    flex-direction: column;
    margin-right: 15%;
    margin-left: 15%;

}

.titreProjet{
    text-align: center;
    font-family: Quantify Regular, Montserrat,Arial;
}

.intro{

    text-align: center;
    font-style: italic;
}
.detail{
    text-align: left;
}

/*** equipe******/

.photoColis{
    width:200px;
    clip-path:ellipse(50% 50%);


}

.descritionColis{
    float:
    width: 300px;

}

